<div class="card">
    <div class="item item-divider">{{title}}</div>
    <div class="item item-body">
        <div class="row">
            <div class="col">Zahlen</div>
            <div class="col">
                <span ng-repeat="number in numbers" class="">{{number}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col">Zusatzzahlen</div>
            <div class="col">
                <span ng-repeat="extra in extraNumbers" class="">{{extra}}</span>
            </div>
        </div>
    </div>
    <div class="item item-divider">
        <button class="button button-full button-dark" ng-click="play()">Zahlen</button>
    </div>
</div>